.edit-form-container {
  height: 70%;
  width: 50%;
  background-color: white;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 10px;
}

.title-container {
  $height: 3rem;
  height: $height;
  line-height: $height;
  text-align: center;
}


@mixin share {
  $size: 100px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: $size;
  height: $size;
  line-height: 1.5;
  border-radius: 4px;
  color: #515a6e;
  cursor: pointer;
}

.image-upload-container {
  position: relative;
  @include share;

  img {
    @include share;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.image-upload {
  @include share;
  opacity: 0;
}
