//公共样式混入，一些能够复用的样式可以写在这个地方，例如flex，inline布局等等

//flex mixin
@mixin flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

//flex mixin
@mixin flex-left-layout {
  display: flex;
  justify-content: left;
  align-items: center;
}

//div文字垂直水平居中mixin
@mixin text-align-center($lineHeight) {
  text-align: center;
  line-height: $lineHeight;
}

//滚动条样式修改
@mixin change-scroll($class_name) {
  #{$class_name}::-webkit-scrollbar {
    width: 7px;
  }

  #{$class_name}::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgb(184,184,184);
  }

  #{$class_name}::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-bottom-right-radius: 8px;
    background: rgb(235,235,235);
  }
}

