.demo-drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

@mixin share {
  $size: 100px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: $size;
  height: $size;
  line-height: 1.5;
  border-radius: 4px;
  color: #515a6e;
  cursor: pointer;
}

.image-upload-container {
  position: relative;
  @include share;

  img {
    @include share;
    position: absolute;
    border: 1px solid #dcdee2;
    top: 0;
    left: 0;
  }
}

.image-upload {
  @include share;
  opacity: 0;
}
