.title {
  font-size: 2em;
  text-align: center;
  color: #548cfe;
}

.inputCon {
  color: #495060;

  .input {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    border-bottom: 1px solid #548cfe;

    .logo {
      width: 2em;
      height: 1.5em;
      background-size: auto 90%;
      background-repeat: no-repeat;
      background-position: center center;
    }

    input {
      width: 100%;
      height: 3em;
      line-height: 3em;
      font-size: 13px;
      border: none;
      outline: none;
      text-indent: 1em;
      background: #fff;
    }

  }

  .barcode {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .barcodeImg {
      width: 48%;
    }

    .input {
      width: 48%;
    }
  }
}

.btnCon {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  .toReg, .toLogin, .sure {
    height: 2.5em;
    width: 48%;
    line-height: 2.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }
  .toReg {
    color: #495060;
    border: 1px solid #dddee1;
    background-color: #f7f7f7;
  }

  .toLogin {
    color: #495060;
    border: 1px solid #dddee1;
    background-color: #f7f7f7;
  }

  .sure {
    color: #fff;
    border: 1px solid #fff;
    background-color: #7f3ffd;
  }
}